* {
    box-sizing: border-box;
}

/*font size*/
.fontsize{
font-size: 150%;
}

/* Rating star*/
.checked {
    color: rgb(214, 139, 0);
  }
/* Dashed border */
.dashed {
    border-top: 3px dashed #bbb;
  }
/* Rounded border */
.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
  }
/* Style the body */
body {
    margin: 0;
}

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
}

.centre-h {
    display: flex;
    justify-content: center;
    
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    padding: 20px 0 0 20px;
    flex: 30%;
    background-color: #f1f1f1;

}

/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px 0 0 20px;
}

